.infoBox-defaultTable {
    background-color: rgba(15, 38, 82, 0.6);
    color:white;
    font-size: 14px;
    line-height: 25px;
    border-radius: 10px;
    min-width: 120px;
}

.infoBox-defaultTable table{
    color:white;
    font-size: 14px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;
    line-height: 25px;
    text-align: left;
}

.infoBox-deleteRow{
    /* height:15px; */
    /* text-align: right; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(13, 42, 102, 0.6);
    text-align: left;
    padding-left:10px;

}
.infoBox-deleteRow span{
    /* height:15px; */
    float: right;
    padding-right:10px;
}
.infoBox-deleteRow span:hover{
  color:rgba(163, 57, 57, 1);
}

.handDrawToolTip{
    background-color: rgb(255, 255, 255,0.5);
    border:1px solid rgb(161, 161, 161);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.2);
    box-shadow: 0 0 10px  rgba(0,0,0,0.2);
    height:30px;
    line-height:30px;
    border-radius: 3px;
}

.handDrawToolTip span{
    color:rgb(255, 255, 255);
    margin-left: 7px;
    margin-right:7px;
    margin-top:7px;
    margin-bottom:7px;
    font-size:12px;
    background-color: rgb(77, 153, 99);
    padding: 4px 6px 4px 6px;
    border-radius: 12px;

}
.handDrawToolTip span:hover{
    color:blue
}

.colorMapLegendTipClass{
    background-color: rgba(255, 255, 255, 0.349);
    color:white;
    font-size: 14px;
    line-height: 25px;
    border-radius: 10px;
    position: absolute;
    z-index:1000000;
    left:50px;
    bottom:50px;
    padding:8px 15px 8px 15px;
}

.colorMapLegendTipClass .colorRow .colorBlock{
    min-height: 20px;
    min-width: 40px;
    float:left;
}

.colorMapLegendTipClass .colorRow span{
   padding-left:5px;
   color:rgb(73, 73, 73);
   font-size:13px;
   font-weight:bolder;
}
.colorMapLegendTipClass .legendTitle{
    color:rgb(3, 96, 150);
    font-weight: bold;
    font-size:15px;

}
.swipeCompareMap input[type=range] {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: calc(50% - 18px);
    left: 0;
    z-index: 9;
    outline: none; 
    -webkit-appearance: none;
    height: 0;
    background-color: white;
}

.swipeCompareMap input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:36px;
    width: 36px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABhklEQVRoQ+2XPU7EMBCFvyk4AAU3oOAMFJyKrXYRLAIa9lycgYIbUFAjCq9CAgpZO2PHTFDEuHX8PN97/ouw8CYLrx8H+OsEPQFPoNIBX0KVBlYP9wSqLawU8AQqDawe7glUW1gp8H8SCHANHAlsKk0bHR7gDvgQ2ObMk5VAgEvgsRPcCaxyxEu/Ce0czVxNWwnsNA0VYFD8l95G4F4TL+kPcAXcDsaoEKMAieJfgXOBl5ICtW8DnAJPwEkJRBJgpPgLgWetoCn9Ac46iONciChAoviimoSfv6sBQpHA4cfR5XQA8BvFN3MbAEQ3dgzghvbIrGpGAFuBpr7vllpC/eNsEogBQPT4HtvEMYi37gSaexMn7x7tGI1BzH2Mjl6cORdZDGIt8DBpbSUGBVjTPiP6Tb31VYBGbXDFq6JTwabMkwXQg3if4TH3+ebKfW9lA0x11XqcA1g7rOl7AppD1v2egLXDmr4noDlk3e8JWDus6XsCmkPW/Z6AtcOaviegOWTdv/gE9iihUjF+faiWAAAAAElFTkSuQmCC);
    background-size: 100%;
    cursor: move;
}

.swipeCompareMap .swipe-bar {
    position: fixed;
    width: 4px;
    height: 100%;
    content: ' ';
    top: 0;
    background: rgb(248, 116, 7);
    z-index: 1129;
}
 .systemCompareMap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
 }
 .mapboxgl-ctrl.mapboxgl-ctrl-scale {
	height: 10px;
	background-color:"transparent";
	line-height:10%;
	text-align:center;
}
.mapboxgl-ctrl-scale {
	height: 10px;
	background-color:"transparent";
	line-height:10%;
	text-align:center;
}

.mapboxgl-ctrl-compass{
    /* background-image: svg-load('svg/mapboxgl-ctrl-zoom-in.svg', fill: #333); */
    background:url('svg/mapboxgl-ctrl-compass.svg') no-repeat;
 
}

.mapboxgl-ctrl-zoom-in{
     /* background-image: svg-load('svg/mapboxgl-ctrl-zoom-in.svg', fill: #333); */
     background:url('svg/mapboxgl-ctrl-zoom-in.svg') no-repeat;
  
}
.mapboxgl-ctrl-zoom-out{
    /* background-image: svg-load('svg/mapboxgl-ctrl-zoom-in.svg', fill: #333); */
    background:url('svg/mapboxgl-ctrl-zoom-out.svg') no-repeat;
 
}
#mapbox_overviewMap{
    min-width: 150px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right:10px;
    bottom:20px;
    z-index: 3255;
    width:300px;
    height:200px;
    /* border:1px solid rgb(161, 161, 161); */
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.2);
    box-shadow: 0 0 10px  rgba(0,0,0,0.2);
}

.navigationRotate {
    position:absolute;
    z-index: 50000;
    top: 100px;
    left: 30px;
    height: 52px;
    width: 52px;
    background: url('../mapIcon/control.png') no-repeat;
}

.turnClockwise {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    left: 2px;
    top: 5px;
    z-index: 1;
    width: 15px;
    height: 42px;
    background: url('../mapIcon/control.png') -75px -5px no-repeat;
}

.turnClockwise:hover {
    background: url('../mapIcon/control.png') -89px -5px no-repeat;
}

.resetRotate {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    left: 19px;
    top: 4px;
    width: 14px;
    height: 44px;
    transform: rotate(0deg);
    background: url('../mapIcon/control.png') -56px -4px no-repeat;
}

.turnAntiClockwise {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    right: 2px;
    top: 5px;
    z-index: 1;
    width: 15px;
    height: 42px;
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    background: url('../mapIcon/control.png') -75px -5px no-repeat;
}

.turnAntiClockwise:hover {
    background: url('../mapIcon/control.png') -89px -5px no-repeat;
}

